<div class="row">
  <div class="span4 offset4">
    <fieldset>
      <h2>Forgot Password?</h2>
      <%= form_tag password_resets_path do %>
        <%= text_field_tag :email, params[:email], :placeholder => 'Your Email Address', :tabindex => 1, :class => "input-block-level" %>

        <%= submit_tag "Request Password Reset", :class => "btn btn-primary", :tabindex => 2 %>
      <% end %>
    </fieldset>
  </div>
</div>
