<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <%= render partial: "partials/flash" %>
    <fieldset>
      <h2>Forgot Password?</h2>
      <%= form_tag password_resets_path, :role => 'form' do %>
        <div class="form-group">
          <%= text_field_tag :email, params[:email], :placeholder => 'Your Email Address', :tabindex => 1, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= submit_tag "Request Password Reset", :class => "btn btn-default btn-primary", :tabindex => 2 %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
