<% flash.each do |name, msg| %>
  <% if name == :success %>
    <div class="alert alert-success">
  <% elsif name == :error %>
    <div class="alert alert-error">
  <% elsif name == :info %>
    <div class="alert alert-info">
  <% else %>
    <div class="alert">
  <% end %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= msg -%>
  </div>
<% end %>
