<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><%= link_to "Manage Account", account_path %></li>
    <li><%= link_to "Manage SSH Keys", public_keys_path  %></li>
    <li><%= link_to "Manage Auth Tokens", auth_tokens_path %></li>
  </ul>
</div>
