default: &default
  secret_key_base: 09bfc2aaf733c4c43103184544c7f8dfe2d9fb6e433306ddf641d549165aa2e12a4c88c830752b6677e2543120d8368088c26aa8a3368eb5c1817899c7d82bf5

development:
  <<: *default

test:
  <<: *default

cucumber:
  <<: *default
