/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";

body {
  padding-top: 80px;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
label {
  color: #666;
  font-weight: bold;
}
th.public_key_name {
  width: 160px;
}
td.public_key_value {
  max-width: 700px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
td.public_key_delete {
  width: 80px;
}

a [class^="icon-"],
a [class*=" icon-"] {
  margin-right: .4em;
}

a:hover [class^="icon-"],
a:hover [class*=" icon-"] {
  text-decoration: none !important;
}